html,
body {
  min-height: 100%;
}

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: var(--font-sans-serif), sans-serif;
  color: var(--mono-10);
}

*:focus-visible {
  outline: 2px solid var(--mono-70);
  outline-offset: 2px;
}
