d-channel {
  d-channel-section[name='trim-section'] {
    d-dial[name='trim-gain'] {
      padding-left: 30px;
    }
  }

  d-channel-section[name='comp'] {
    [name='comp-ratio'] {
      padding-left: 30px;
    }

    [name='comp-threshold'] {
      padding-left: 8px;
    }
  }
}
