d-channel {
  d-channel-section[name='trim-section'] {
    d-dial[name='trim-gain'] {
      padding-left: 30px;
    }
  }

  d-channel-section[name='comp'] {
    d-dial[name='comp-ratio'] {
      padding-left: 28px;
    }

    d-dial[name='comp-threshold'] {
      padding-left: 6px;
    }
  }

  d-channel-section[name='filters'] {
    d-dial[name='filter-hpf'] {
      padding-left: 34px;
    }

    d-dial[name='filter-lpf'] {
      padding-left: 6px;
    }

    d-checkbox[name='hpf-on'] {
      top: 6px;
      left: 2px;
      position: absolute;
    }

    d-checkbox[name='lpf-on'] {
      top: 34px;
      right: 2px;
      position: absolute;
    }
  }

  d-channel-section[name='eq'] {
    d-radio-group {
      margin-top: 8px;
    }
  }
}
