@import url('../../css/helpers/accessibility.css');

:host {
  /* Default color: 'gray' */
  --dial-color: var(--mono-70);
  --dial-cursor-color: var(--mono-00);
  --dial-border-color: var(--mono-80);
  --dial-tooltip-border-color: var(--cyan-50);

  /* Sizes */
  --dial-size-xs: 22px;
  --dial-size-s: 28px;
  --dial-size-m: 32px;
  --dial-size-l: 36px;
  --dial-size-xl: 40px;

  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

.dial {
  position: relative;
  width: var(--dial-size-xs);
  height: var(--dial-size-xs);

  .handle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    backface-visibility: visible;
    box-shadow: 0 0 2px 0 rgb(from var(--mono-00) r g b / 10%);

    &::before {
      background-color: var(--dial-color);
      content: '';
      position: absolute;
      border: 3px solid var(--dial-border-color);
      inset: 0;
      border-radius: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 50%;
      left: calc(50% - 2px);
      top: 0;
      background: var(--dial-cursor-color);
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  /* Sizes */
  &[data-size='xs'] {
    width: var(--dial-size-xs);
    height: var(--dial-size-xs);
  }

  &[data-size='s'] {
    width: var(--dial-size-s);
    height: var(--dial-size-s);
  }

  &[data-size='m'] {
    width: var(--dial-size-m);
    height: var(--dial-size-m);
  }

  &[data-size='l'] {
    width: var(--dial-size-l);
    height: var(--dial-size-l);
  }

  &[data-size='xl'] {
    width: var(--dial-size-xl);
    height: var(--dial-size-xl);
  }

  /* Colors */
  &[data-color='gray'] {
    --dial-color: var(--mono-70);
    --dial-cursor-color: var(--mono-00);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='light-gray'] {
    --dial-color: var(--mono-90);
    --dial-cursor-color: var(--mono-00);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='dark-gray'] {
    --dial-color: var(--mono-40);
    --dial-cursor-color: var(--mono-90);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='red'] {
    --dial-color: var(--matt-red-50);
    --dial-cursor-color: var(--mono-90);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='yellow'] {
    --dial-color: var(--matt-yellow-50);
    --dial-cursor-color: var(--mono-00);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='green'] {
    --dial-color: var(--matt-green-50);
    --dial-cursor-color: var(--mono-00);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='blue'] {
    --dial-color: var(--matt-blue-50);
    --dial-cursor-color: var(--mono-90);
    --dial-border-color: var(--mono-80);
  }
}

.tooltip-container {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);

  .tooltip {
    --tooltip-border-color: var(--dial-tooltip-border-color);
  }
}
