@import url('../../css/helpers/accessibility.css');
@import url('../../css/base/resets.css');

:host {
  /* Default color: 'gray' */
  --dial-color: var(--mono-70);
  --dial-cursor-color: var(--mono-00);
  --dial-border-color: var(--mono-80);
  --dial-tooltip-border-color: var(--cyan-50);

  /* Offsets */
  --dial-tooltip-offset-top: 4px;
  --dial-left-range-offset: 0px;
  --dial-right-range-offset: 0px;

  /* Sizes */
  --dial-size-xs: 22px;
  --dial-size-s: 28px;
  --dial-size-m: 32px;
  --dial-size-l: 36px;
  --dial-size-xl: 40px;

  width: fit-content;
  display: block;
}

.dial {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;

  .handle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    backface-visibility: visible;
    box-shadow: 0 0 2px 0 rgb(from var(--mono-00) r g b / 10%);

    &::before {
      background-color: var(--dial-color);
      content: '';
      position: absolute;
      border: 3px solid var(--dial-border-color);
      inset: 0;
      border-radius: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 50%;
      left: calc(50% - 2px);
      top: 0;
      background: var(--dial-cursor-color);
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  .label {
    position: absolute;
    font-family: var(--font-sans-serif), sans-serif;
    font-size: var(--type-size-1);
    font-weight: bold;
    line-height: 1;
  }

  .left-range {
    padding-right: calc(6px + var(--dial-left-range-offset));
  }

  .right-range {
    padding-left: calc(6px + var(--dial-right-range-offset));
  }

  /* Sizes */
  &[data-size='xs'] {
    .control {
      width: var(--dial-size-xs);
      height: var(--dial-size-xs);
    }

    & + .tooltip {
      left: calc(
        anchor(left) + (var(--dial-size-xs) / 2) - (var(--tooltip-width) / 2)
      );
    }
  }

  &[data-size='s'] {
    .control {
      width: var(--dial-size-s);
      height: var(--dial-size-s);
    }

    & + .tooltip {
      left: calc(
        anchor(left) + (var(--dial-size-s) / 2) - (var(--tooltip-width) / 2)
      );
    }
  }

  &[data-size='m'] {
    .control {
      width: var(--dial-size-m);
      height: var(--dial-size-m);
    }

    .left-range {
      padding-right: calc(7px + var(--dial-left-range-offset));
    }

    .right-range {
      padding-left: calc(7px + var(--dial-right-range-offset));
    }

    & + .tooltip {
      left: calc(
        anchor(left) + (var(--dial-size-m) / 2) - (var(--tooltip-width) / 2)
      );
    }
  }

  &[data-size='l'] {
    .control {
      width: var(--dial-size-l);
      height: var(--dial-size-l);
    }

    .left-range {
      padding-right: calc(8px + var(--dial-left-range-offset));
    }

    .right-range {
      padding-left: calc(8px + var(--dial-right-range-offset));
    }

    & + .tooltip {
      left: calc(
        anchor(left) + (var(--dial-size-l) / 2) - (var(--tooltip-width) / 2)
      );
    }
  }

  &[data-size='xl'] {
    .control {
      width: var(--dial-size-xl);
      height: var(--dial-size-xl);
    }

    .left-range {
      padding-right: calc(9px + var(--dial-left-range-offset));
    }

    .right-range {
      padding-left: calc(9px + var(--dial-right-range-offset));
    }

    & + .tooltip {
      left: calc(
        anchor(left) + (var(--dial-size-xl) / 2) - (var(--tooltip-width) / 2)
      );
    }
  }

  /* Colors */
  &[data-color='gray'] {
    --dial-color: var(--mono-70);
    --dial-cursor-color: var(--mono-00);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='light-gray'] {
    --dial-color: var(--mono-90);
    --dial-cursor-color: var(--mono-00);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='dark-gray'] {
    --dial-color: var(--mono-40);
    --dial-cursor-color: var(--mono-90);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='red'] {
    --dial-color: var(--matt-red-50);
    --dial-cursor-color: var(--mono-90);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='yellow'] {
    --dial-color: var(--matt-yellow-50);
    --dial-cursor-color: var(--mono-00);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='green'] {
    --dial-color: var(--matt-green-50);
    --dial-cursor-color: var(--mono-00);
    --dial-border-color: var(--mono-80);
  }

  &[data-color='blue'] {
    --dial-color: var(--matt-blue-50);
    --dial-cursor-color: var(--mono-90);
    --dial-border-color: var(--mono-80);
  }

  /* Label Position */
  &[data-label-position='left'] {
    .label {
      top: 50%;
      right: 100%;
      margin-right: 4px;
      text-align: right;
      transform: translateY(-50%);
    }
  }

  &[data-label-position='right'] {
    .label {
      top: 50%;
      left: 100%;
      margin-left: 4px;
      transform: translateY(-50%);
      text-align: left;
    }
  }

  &[data-label-position='top'] {
    .label {
      width: 100%;
      margin-bottom: 4px;
      bottom: 100%;
      text-align: center;
    }
  }
}

.control {
  position: relative;
  width: var(--dial-size-xs);
  height: var(--dial-size-xs);
  anchor-name: --dial-control;
}

.range-values {
  display: grid;
  justify-content: center;
  font-family: var(--font-sans-serif), sans-serif;
  font-size: var(--type-size-0);
  line-height: 1;
  grid-template-columns: 1fr 1fr;
  margin-top: -1px;
}

.left-range {
  text-align: right;
}

.right-range {
  text-align: left;
}

.tooltip {
  position: absolute;
  position-anchor: --dial-control;
  top: calc(
    anchor(top) - var(--tooltip-height) - var(--dial-tooltip-offset-top)
  );
}
