.tooltip {
  --tooltip-background-color: var(--mono-100);
  --tooltip-border-color: var(--cyan-50);
  --tooltip-border-width: 2px;
}

.tooltip:popover-open {
  width: 70px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--tooltip-border-width) solid var(--tooltip-border-color);
  background-color: var(--tooltip-background-color);
  border-radius: 2px;
  box-shadow: 0 3px 8px 0 rgb(from var(--mono-00) r g b / 20%);
  font-family: var(--font-monospace), monospace;
  font-size: var(--type-size-2);
}
